.navbar{
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    background-color: white;
}


.navbar-brand img {
    max-height: 50px;
}
.nav-link{
    font-size: 18px;
    color:#00305b;
    font-weight: bold;
    padding: 7px 20px;
    vertical-align: middle;
    margin-left: 5px;
}
.nav-link:hover {
    background-color: #00305b;
    color: white;
    border-radius: 32px;
    transition: background-color .3s,color .3s;
    padding: 7px 20px;

}
* {
    font-family: 'Open Sans', sans-serif;
}

.footer {
    clear: both;
    width: 100%;
}
.social-media-banner {
    background: #4ebdec;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
}
.social-media-banner .container{
    background-color: #4ebdec;

}
.social-media-banner span {
    color: white;
    font-size: 20px;
}
.social-media-icon {
    font-size: 25px;
    margin: 5px 5px;
}
.social-media-banner .fab {
    color: white;
}
.social-media-banner .social-media-icon:hover {
    color: #00305b;
    transition: color .3s;
}
.card {
    background-image: url("../img/pattern_xanh.png");
    background-repeat: repeat;
}
.card-body{
    padding: 10px;
}
.card a {
    outline: none;
    text-decoration: none;
}
.title-social{
    color: white;
    font-size: 18px;
}
/*footer*/
.footer-background{
    background-image: url("../img/footer-bamboo_ddce7f6f.png");
    background-position: 100% 0;
    background-repeat: repeat;
    clear: both;
}
.footer-content{
    padding: 20px 0;
}
.footer-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-content ul li {
    margin: 0;
    padding: 0 10px 10px;
    display: inline-block
}
.footer-content ul li a {
    font-weight: 700;
    text-decoration: none;
    color: #00305b;
    background: hsla(0,0%,100%,0);
    transition: color .3s,background-color .3s,border-color .3s;
}
.footer-content ul li a:hover {
    color: #00bdec;
}



