.huyve{
    color: white;
    font-family: "DiavloLight", Arial;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 27px;
}
.content{
    max-width: 1000px;
    position: relative;
    margin: auto;
    clear: both;
    border-radius: 4px;
    background-color: white;
    padding: 20px 12px 20px 12px;
}
.code{
    margin-right: 10px;
}
.parallax {
    height: 100%;
    background-image: url('../img/back-ve.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-spacing: 15px;
}
.btn{
    margin-top: 20px;
    float: right;
    background-color: white;
    color: #0f8db1;
    border:2px solid #0f8db1;
    width: 120px;
    height: 40px;
    font-weight: 400;
}
.btn:hover{
    background-color:  #0f8db1;
    color: white;
}
.submit-btn {
    color: #fff;
    background-color: hsl(44,86%,46%);
    font-weight: 400;

    font-size: 14px;
    border: none;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    width: 170px;
    padding-top: 10px;
    float: right;
    margin-right: 30px;
    text-align: center;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 15px;
}
.searchTerm {
    width: 100%;
    border: 1px solid hsl(44,86%,46%);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    height: 36px;
}

.searchTerm:focus{
    color: black;
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid hsl(44,86%,46%);
    background: hsl(44,86%,46%);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.ticket_code{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
}
.submit-btn:hover,
.submit-btn:focus {
    opacity: 0.8;
}
.content::-webkit-input-placeholder {
    color: rgba(82, 82, 84, 0.4);
}
.content:-ms-input-placeholder {
    color: rgba(82, 82, 84, 0.4);
}
.content::placeholder {
    color: rgba(82, 82, 84, 0.4);
}

