*{
    margin: 0px;
    padding: 0px;
}
body,html{
    font-size: 15px;
    font-family: "OpenSans";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    background-color: #cccccc;
}
h1{
    padding: 30px 0 60px 0;
    font-size: 32px;
    color: #ffffff;
    font-family: "DiavloLight", Arial;
    text-align: center;
}
h3{
    font-family: "OpenSans",Arial;
    font-size: 24px;
    color: #0582a6;
    margin-top: 10px;
}
.content{
    max-width: 1000px;
    height: 650px;
    position: relative;
    margin: auto;
    clear: both;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 40px 12px 40px 12px;
}
.parallax {
    height: 100%;
    background-image: url('../img/back-ve.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}
.contents{
    width: 100%;
    height: 500px;
}
.row label{
    font-size: 20px;
    padding-top: 10px;
    color: #333;;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:#16698712;
}
.tablinks {
    color: #0582a6;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 530px;
}
.row span{
    font-weight: bolder;
}
div.row{
    margin-top: 10px;
}
form.row{
    margin-top: 50px;
}
.btn{
    margin-top: 20px;
    float: right;
    background-color: white;
    color: #0f8db1;
    border:2px solid #0f8db1;
    width: 120px;
    height: 40px;
    font-weight: 400;
}
.btn:hover{
    background-color:  #0f8db1;
    color: white;
}
